body {
  font-family: 'Open Sans', sans-serif;

  h1, h2, h3 {
    text-transform: uppercase;
  }

  div[class|=part] {
    padding-top: 3em;
    padding-bottom: 3em;
  }


  .part-one {
    background-color: #dde5d5;
  }

  .part-two {
    background-color: #fad3d4;
  }

  .part-three {
    background-color: #26262a;
    color: #FFF;
  }

  .part-four {
    background-color: #f9f7e2;
  }

  .part-five {
    background-color: #dde5d5;
  }
}
