.masthead {
  background-color: rgba(38, 38, 42, 0.95);
  padding: 1.3rem;

  @media (max-width: $small-devices) {
      position: relative;
  }

  img {
    margin-right: 2em;

    @media (min-width: $small-devices) {
      margin-bottom: 0;
    }
  }

  a.navigation {
    color: $palette-green;
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    margin-top: 1rem;

    @media (min-width: $small-devices) {
      margin-top: 0;
      color: $palette-almost-black;
      background: $palette-green;
      font-size: 0.9em;
      font-family: "Roboto Mono", monospace;
      padding: 0.4rem 0.7rem;

    }
  }
}
