.part-one {
  background-color: $palette-green;

  .map-container {

    @media (min-width: $large-devices) {
      background-image: url('../images/section-one-map.jpg');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 13em;

      .callout {
        margin-left: -10em;
        background-color: $palette-green;
        width: 100%;
      }
    }

    @media (min-width: $extra-large-devices) {
      background-size: 16em;

      .callout {
        width: 80%;
      }
    }
  }

  .intro {
    position: relative;

    // Medium devices (tablets, 768px and up)
    @media (min-width: $medium-devices) {
      padding-bottom: 34em;
      background-image: url('../images/section-one-intro-background-bg-medium.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: $large-devices) {
      padding-top: 0;
      padding-bottom: 37em;
      background-image: url('../images/section-one-intro-background.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
    }

    @media (min-width: $extra-large-devices) {
      padding-bottom: 44em;
    }

    h1 {

        font-size: 3.4em;

        @media (min-width: $medium-devices) {

          span {
            position: absolute;
            font-size: 4.5rem;

            &:first-child {
              top: 1.24em;
              left: 1em;
            }

            &:nth-child(2) {
              top: 2.3em;
              left: 3.9em;
            }

            &:nth-child(3) {
              top: 3.35em;
              left: 0.55em;
            }
          }
        }

        @media (min-width: $large-devices) {
          span {
            position: absolute;
            font-size: 3.8rem;

              &:first-child {
                top: 2.04em;
                left: 1.3em;
              }

              &:nth-child(2) {
                top: 2.96em;
                left: 4.33em;
              }

              &:nth-child(3) {
                top: 3.9em;
                left: 0em;
              }
          }
        }


      @media (min-width: $extra-large-devices) {
        span {
          position: absolute;
          font-size: 4.5rem;

          &:first-child {
            top: 2.05em;
            left: 1.8em;
          }

          &:nth-child(2) {
            top: 3.0em;
            left: 5.19em;
          }

          &:nth-child(3) {
            top: 3.96em;
            left: 0.95em;
          }
        }
      }

    }

    .callout {
      @media (min-width: $medium-devices) {
        position: absolute;
        top: 19.1em;
        left: 0.2em;
        width: 98.9%;
      }
      @media (min-width: $large-devices) {
        border: none;
        letter-spacing: -0.5px;
        position: absolute;
        top: 20em;
        left: 21em;
        min-width: 21em;
        font-size: 90%;
        width: auto;
      }

      @media (min-width: $extra-large-devices) {
        border: none;
        letter-spacing: -0.5px;
        position: absolute;
        top: 20em;
        left: 21em;
        min-width: 21em;
        font-size: 107%;
      }
    }
  }

  .final {
    @media (min-width: $large-devices) {
      padding-top: 3em;
      background-image: url('../images/section-one-number.png');
      background-repeat: no-repeat;
      background-size: 6em;
      background-position: 7em 0;
    }

    @media (min-width: $extra-large-devices) {
      background-position: 10em 0;
    }
  }
}
