// Colours

$palette-green: #dde5d5;
$palette-pink: #fad3d4;
$palette-almost-black: #26262a;
$palette-beige: #f9f7e2;
$palette-cream: #f7f7e2;

// Breakpoints
$small-devices: 576px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;

